################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/AzUnpack/Debug
/AzUnpack/Release
/AllegNetLib/Debug
/AllegNetLib/Release
/AzUnpack/AzUnpack.opensdf
/AzUnpack/AzUnpack.sdf
/AzUnpack/AzUnpack.v12.suo
/AzUnpack.v12.suo
